<!-- <app-b1></app-b1> -->
<!-- <app-b2></app-b2> -->
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Home
              <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">San pham</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#" (click)="bai=1">Bai 1</a>
              <a class="dropdown-item" href="#" (click)="bai=2">Bai 2</a>
            </div>
          </li>
        </ul>

        @if (bai==2) {
        <form class="d-flex my-2 my-lg-0">
          <input class="form-control me-sm-2" [(ngModel)]="searching" name="searching" placeholder="Tìm sản phẩm"
            type="text" />
        </form>
        }
        @if (bai==2) {
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-bs-toggle="modal"
              data-bs-target="#modalId">
              Giỏ hàng của bạn !
              @if(num==0){
              <span>Bạn chưa mua hàng</span>
              }
              @else {
              Bạn đã mua {{num}} hàng !
              }
            </button>
          </div>
        }



      </div>
    </div>
  </nav>
  @if (bai==1) {
    <ng-container>
      <app-b1></app-b1>
    </ng-container>
    }
    @if (bai==2) {
    <ng-container>
      <app-b2 [searching]="searching" (countEmit)="countEmit($event)"></app-b2>
    </ng-container>
    }
</div>